body {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.title {
    text-align: center;
}

button {
    background-color: black;
    color: white;
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.change {
    margin-left: 45%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#grid {
    width: 640px;
    height: 640px;
    display: inline-block;
    flex: 1;
    margin: 0 auto;
    font-size: 0px;
}

.cell, .row {
    border: 1px solid black;
    display: inline-block;
}

/* .cell:hover, .row:hover{
    background-color: black;
} */