body {
    display: flex;
    flex-direction: column;
}

#grid {
    width: 640px;
    height: 640px;
    display: inline-block;
    flex: 1;
    margin: 0 auto ;
}

.cell, .row {
    border: 1px solid black;
    display: inline-block;
}

/* .cell:hover, .row:hover{
    background-color: black;
} */